/* Notifications container styling */
/* Toast styling */
.toast {
    animation: slide-in 0.5s forwards, fade-out 0.5s 4.5s forwards;
    transition: opacity 0.3s ease;
    z-index: 1005; 
    margin-top: 90vh !important;
    font-size:1.5rem !important;
}

/* Slide-in animation */
@keyframes slide-in {
    0% {
        transform: translateY(20px); /* Starts slightly below */
        opacity: 0;
    }

    100% {
        transform: translateY(0); /* Ends at normal position */
        opacity: 1;
    }
}
/* Fade-out animation */
@keyframes fade-out {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}
