@page
@model ForgetPasswordResetModel
@{
    Layout = "_IdentityLayout";
    ViewData["Title"] = "Reset password";
}


<form class="f-ctr-ctr flex-column" method="post" style="gap: 4.2rem !important;">
    <input asp-for="Input.Code" type="hidden" />
    <input asp-for="Input.Email" type="hidden" />
    <div class="row">
        <div class="col-12 f-ctr-ctr flex-column">
            <h1 class="big-text fw-bold tc-3">تعيين كلمة المرور</h1>
            <a asp-page="./Login"
               class="tc-acc fs-2 hov-t-acc hov-zoom-in">تسجيل الدخول</a>
        </div>
    </div>
    <div class="row gy-4 form-container">
        <dvi class="col-12">
            <div asp-validation-summary="ModelOnly" class="div-validations" role="alert"></div>
        </dvi>
      
        <dvi class="col-12">
            <div class="form-input-box">
                <div class="input-box ">
                    <svg class="showPasswordTrg" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M14.53 9.47001L9.47004 14.53C8.82004 13.88 8.42004 12.99 8.42004 12C8.42004 10.02 10.02 8.42001 12 8.42001C12.99 8.42001 13.88 8.82001 14.53 9.47001Z" stroke="#A27B5C" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                        <path d="M17.82 5.77001C16.07 4.45001 14.07 3.73001 12 3.73001C8.46997 3.73001 5.17997 5.81001 2.88997 9.41001C1.98997 10.82 1.98997 13.19 2.88997 14.6C3.67997 15.84 4.59997 16.91 5.59997 17.77" stroke="#A27B5C" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                        <path opacity="0.4" d="M8.42004 19.53C9.56004 20.01 10.77 20.27 12 20.27C15.53 20.27 18.82 18.19 21.11 14.59C22.01 13.18 22.01 10.81 21.11 9.39999C20.78 8.87999 20.42 8.38999 20.05 7.92999" stroke="#A27B5C" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                        <path opacity="0.4" d="M15.5099 12.7C15.2499 14.11 14.0999 15.26 12.6899 15.52" stroke="#A27B5C" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                        <path d="M9.47 14.53L2 22" stroke="#2C3930" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                        <path d="M22 2L14.53 9.47" stroke="#2C3930" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>

                    <input asp-for="Input.Password"
                           class="passwordInput"
                           type="password"
                           placeholder="كلمة المرور" />
                </div>
                <span asp-validation-for="Input.Password"></span>
            </div>
        </dvi>
        <dvi class="col-12">
            <div class="form-input-box">
                <div class="input-box">
                    <svg class="showPasswordTrg" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M14.53 9.47001L9.47004 14.53C8.82004 13.88 8.42004 12.99 8.42004 12C8.42004 10.02 10.02 8.42001 12 8.42001C12.99 8.42001 13.88 8.82001 14.53 9.47001Z" stroke="#A27B5C" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                        <path d="M17.82 5.77001C16.07 4.45001 14.07 3.73001 12 3.73001C8.46997 3.73001 5.17997 5.81001 2.88997 9.41001C1.98997 10.82 1.98997 13.19 2.88997 14.6C3.67997 15.84 4.59997 16.91 5.59997 17.77" stroke="#A27B5C" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                        <path opacity="0.4" d="M8.42004 19.53C9.56004 20.01 10.77 20.27 12 20.27C15.53 20.27 18.82 18.19 21.11 14.59C22.01 13.18 22.01 10.81 21.11 9.39999C20.78 8.87999 20.42 8.38999 20.05 7.92999" stroke="#A27B5C" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                        <path opacity="0.4" d="M15.5099 12.7C15.2499 14.11 14.0999 15.26 12.6899 15.52" stroke="#A27B5C" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                        <path d="M9.47 14.53L2 22" stroke="#2C3930" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                        <path d="M22 2L14.53 9.47" stroke="#2C3930" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>

                    <input asp-for="Input.ConfirmPassword"
                           class="passwordInput"
                           type="password"
                           placeholder="تاكيد كلمة المرور" />
                </div>
                <span asp-validation-for="Input.ConfirmPassword"></span>
            </div>
        </dvi>

        <div class="col-12 f-ctr-ctr">
            <button type="submit"
                    class="btn btn-lg btn-input btn-1 jump">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g opacity="0.4">
                        <path d="M11.6797 14.62L14.2397 12.06L11.6797 9.5" stroke="#A27B5C" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                        <path d="M4 12.0596H14.17" stroke="#A27B5C" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                    </g>
                    <path d="M12 4C16.42 4 20 7 20 12C20 17 16.42 20 12 20" stroke="#A27B5C" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
                تحديث كلمة المرور
            </button>
        </div>
    </div>
</form>



@* <div class="row"> *@
@*     <div class="col-md-4"> *@
@*         <form method="post"> *@
@*             <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div> *@
@*             <input asp-for="Input.Code" type="hidden" /> *@

@*             <div class="form-floating mb-3"> *@
@*                 <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" /> *@
@*                 <label asp-for="Input.Email" class="form-label"></label> *@
@*                 <span asp-validation-for="Input.Email" class="text-danger"></span> *@
@*             </div> *@
@*             <div class="form-floating mb-3"> *@
@*                 <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Please enter your password." /> *@
@*                 <label asp-for="Input.Password" class="form-label"></label> *@
@*                 <span asp-validation-for="Input.Password" class="text-danger"></span> *@
@*             </div> *@
@*             <div class="form-floating mb-3"> *@
@*                 <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Please confirm your password." /> *@
@*                 <label asp-for="Input.ConfirmPassword" class="form-label"></label> *@
@*                 <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span> *@
@*             </div> *@
@*             <button type="submit" class="w-100 btn btn-lg btn-primary">Reset</button> *@

@*         </form> *@
@*     </div> *@
@* </div> *@

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
        <script src="~/js/show-password.js" asp-append-version="true"></script>
}
