@page
@model ForgotPasswordConfirmation
@{
    Layout = "_IdentityLayout";
    ViewData["Title"] = "Forgot password confirmation";
}

<form class="f-ctr-ctr " method="post" style="gap: 4.2rem !important;">
    @* <input asp-for="Input.Email" type="hidden" /> *@
    <div class="row">
        <div class="col-12 f-ctr-ctr flex-column mb-5">
            <h1 class="big-text fw-bold tc-3">تم ارسال رمز تحقق على البريد الالكتروني</h1>
        </div>
    </div>
    <div class="row gy-4 form-container">
        <div class="col-12 f-str-ctr size-lg bg-sh round-2">
            <span class="tc-acc mx-5">6 دقائق</span>
            <a href="" class="tc-3 hov-zoom-in">إعادة ارسال الرمز</a>
        </div>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}


@* <h1>@ViewData["Title"]</h1> *@
@* <p> *@
@*     Please check your email to reset your password. *@
@* </p> *@



@* <div class="col-12 f-ctr-ctr"> *@
@*     <button type="submit" *@
@*             class="btn btn-lg btn-input btn-em fill "> *@
@*         <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"> *@
@*             <g opacity="0.4"> *@
@*                 <path d="M11.6797 14.62L14.2397 12.06L11.6797 9.5" stroke="#A27B5C" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" /> *@
@*                 <path d="M4 12.0596H14.17" stroke="#A27B5C" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" /> *@
@*             </g> *@
@*             <path d="M12 4C16.42 4 20 7 20 12C20 17 16.42 20 12 20" stroke="#A27B5C" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" /> *@
@*         </svg> *@
@*         تحديث كلمة المرور *@
@*     </button> *@
@* </div> *@