@page
@model ResetPasswordConfirmationModel
@{
    Layout = "_IdentityLayout";
    ViewData["Title"] = "Reset password confirmation";
}
<div class="f-ctr-ctr flex-column" method="post" style="gap: 4.2rem !important;">
<div class="row">
    <div class="col-12 f-ctr-ctr">
        <h1 class="big-text fw-bold tc-3">تم تغيير كلمة المرور بنجاح</h1>
    </div>
</div>
<div class="row gy-4 form-container">
    <div class="col-12">
        <a asp-page="./Login"
                class="btn btn-input btn-lg btn-1 jump">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g opacity="0.4">
                    <path d="M11.6797 14.62L14.2397 12.06L11.6797 9.5" stroke="#A27B5C" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                    <path d="M4 12.0596H14.17" stroke="#A27B5C" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                </g>
                <path d="M12 4C16.42 4 20 7 20 12C20 17 16.42 20 12 20" stroke="#A27B5C" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
            </svg>
            تسجيل الدخول
        </a>
    </div>
</div>
</div>