@using Template.Service.DTOs.Admin
@using Template.Web.Areas.Admin.ViewModels
@model ChangeUserRoleDto
@{
    ViewData["Title"] = "editRole";

    SelectList roles = new SelectList(Model.Roles, "Name", "Name");
}


<section id="profile">
    <form class="container" method="post" asp-area="admin" asp-controller="user" asp-action="editRole">
        <input type="hidden" asp-for="Id" />
        <input type="hidden" asp-for="oldRole" />
        <div class="row  p-4">
            <div class="col p-4 round-2 row gap-5 ">
                <div class="col-12">
                    <div class="row gap-4">
                        <div class="info-box col">
                            <div class="info-label">الدور</div>
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M12 12C14.7614 12 17 9.76142 17 7C17 4.23858 14.7614 2 12 2C9.23858 2 7 4.23858 7 7C7 9.76142 9.23858 12 12 12Z" stroke="#A27B5C" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                <path opacity="0.4" d="M20.5899 22C20.5899 18.13 16.7399 15 11.9999 15C7.25991 15 3.40991 18.13 3.40991 22" stroke="#A27B5C" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                            </svg>
                            <div class="info-value">@(string.Join(", ", Model.oldRole))</div>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="row gap-4">
                        <div class="info-box col">
                            <div class="info-label">اختر الدور</div>
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M12 12C14.7614 12 17 9.76142 17 7C17 4.23858 14.7614 2 12 2C9.23858 2 7 4.23858 7 7C7 9.76142 9.23858 12 12 12Z" stroke="#A27B5C" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                <path opacity="0.4" d="M20.5899 22C20.5899 18.13 16.7399 15 11.9999 15C7.25991 15 3.40991 18.13 3.40991 22" stroke="#A27B5C" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                            </svg>
                            <div class="form-input-box f-ctr-ctr" role="search" style="margin-bottom: 0 !important;">
                                <div class="input-box">
                                    <select asp-for="newRole" asp-items="roles" class="form-select border-0 shadow">
                                        <option selected disabled value="">Select Role</option>
                                    </select>
                                </div>
                            </div>
                           
                        </div>
                    </div>
                </div>
                  
                    <div class="col-12">
                        <div class="row gap-4">
                            <div class="col">
                            <button type="submit" class="btn btn-input btn-lg btn-2 jump">تعديل</button>
                            </div>
                            <div class="col">
                                  <a id="backButton" href="javascript:void(0);" onclick="history.back();" class="btn btn-input btn-lg btn-1 jump">الرجوع</a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </form>
    
</section>

@section Scripts
 {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script type="module" src="~/js/user-profile.js"></script> 

}



