@{
    ViewData["Title"] = "User List";
}

<section id="table">
    <div class="container">
        <div class="row gap-5">
            <!-- Control Row: Search Bar and Add User Button -->
            <div class="row gap-5">
                <div class="col form-input-box f-ctr-ctr" role="search" style="margin-bottom: 0 !important;">
                    <div class="input-box">
                        <input id="searchTable" class="bg-1" placeholder="ابحث بالاسم أو البريد الإلكتروني..." aria-label="Search">
                        <svg id="space" width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M11.5 21.5C16.7467 21.5 21 17.2467 21 12C21 6.75329 16.7467 2.5 11.5 2.5C6.25329 2.5 2 6.75329 2 12C2 17.2467 6.25329 21.5 11.5 21.5Z" stroke="#A27B5C" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                            <path opacity="0.4" d="M22 22.5L20 20.5" stroke="#A27B5C" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                    </div>
                </div>
                <div class="col-3">
                    <a id="addBtn" class="btn btn-input btn-sm btn-1 jump" asp-area="Admin" asp-controller="User" asp-action="Add">إضافة مستخدم جديد</a>
                </div>
            </div>

            <div class="row gap-5">
                <div class="col form-input-box f-ctr-ctr" role="search" style="margin-bottom: 0 !important;">
                    <div class="input-box">
                        <select id="rowsPerPageSelect" class="bg-1">
                            <option value="5" selected>5</option>
                            <option value="10">10</option>
                            <option value="20">20</option>
                            <option value="1000000">الكل</option> 
                        </select>
                    </div>
                </div>
                <div class="col-1">
                    <button class="filterButton btn btn-input btn-sm hov-zoom-in  btn-active ">الكل</button>
                </div>
                <div class="col-1">
                    <button class="filterButton btn btn-input btn-sm hov-zoom-in">عملاء</button>
                </div>
                <div class="col-1">
                    <button class="filterButton btn btn-input btn-sm hov-zoom-in">ادمن</button>
                </div>
                <div class="col-1">
                    <button class="filterButton btn btn-input btn-sm hov-zoom-in">مقفول</button>
                </div>
                <div class="col-1">
                    <button class="filterButton btn btn-input btn-sm hov-zoom-in">غير مقفول</button>
                </div>
            </div>
            <div class="row">
                <!-- Dashboard Table -->
                <table  id="listTable">
                    <thead>
                        <tr>
                            <th>رقم المعرف</th>
                            <th>الاسم</th>
                            <th>البريد الإلكتروني</th>
                            <th>رقم الهاتف</th>
                            <th>الدور</th>
                            <th>الإجراءات</th>
                        </tr>
                    </thead>
                    <tbody>

                        <!-- Row to show when no records match -->
                        <tr id="noRecordsRow" style="display: none;">
                            <td colspan="6" style="text-align: center;">لا يوجد سجلات</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="row f-ctr-ctr">
                <nav aria-label="Page navigation">
                    <div id="pagination">
                    </div>
                </nav>
            </div>

        </div>
    </div>

</section>



@section Scripts
{
      <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="module" src="~/js/users.js"></script>
  
}
