@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager


    @if (SignInManager.IsSignedIn(User))
    {
    <li class="nav-item btn-group  me-5 dropdown-1  @Html.IsActive("Customer/User/Profile")">
            <a id="manage" class="nav-link  pointer" >
                <svg class="ms-1" width="25" height="25" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M18 18.7023C18 15.6706 14.5 15 12 15C9.5 15 6 15.6706 6 18.7023M21 12C21 16.9706 16.9706 21 12 21C7.02944 21 3 16.9706 3 12C3 7.02944 7.02944 3 12 3C16.9706 3 21 7.02944 21 12ZM15 9C15 10.6569 13.6569 12 12 12C10.3431 12 9 10.6569 9 9C9 7.34315 10.3431 6 12 6C13.6569 6 15 7.34315 15 9Z" stroke="#E5E5E5" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                </svg>

                مرحبًا @(UserManager.GetUserName(User).Split('@')[0]) !
            </a>

        <button type="button" class="dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
            <span class="visually-hidden">Toggle Dropdown</span>
        </button>
            <ul class="dropdown-menu">
                <li>
                    <a id="manage" class="dropdown-item nav-link " style="color:var(--main-color);" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">تعديل ملفك الشخصي</a>
                </li>
                <li class="nav-item">
                    <form id="logoutForm" class="dropdown-item " asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                        <button id="logout" type="submit" class="nav-link  bg-transparent border-0" style="color:var(--main-color);">تسجيل الخروج</button>
                    </form>
                </li>
            </ul>
        </li>
    }
    else
    {

    <li class="nav-item me-5">
            <a class="nav-link d-flex align-items-center" id="login" asp-area="Identity" asp-page="/Account/Login">
                <svg class="ms-1" width="26" height="26" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M18 18.7023C18 15.6706 14.5 15 12 15C9.5 15 6 15.6706 6 18.7023M21 12C21 16.9706 16.9706 21 12 21C7.02944 21 3 16.9706 3 12C3 7.02944 7.02944 3 12 3C16.9706 3 21 7.02944 21 12ZM15 9C15 10.6569 13.6569 12 12 12C10.3431 12 9 10.6569 9 9C9 7.34315 10.3431 6 12 6C13.6569 6 15 7.34315 15 9Z" stroke="#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
                تسجيل الدخول
            </a>
        </li>
    }
