
@* Card for Admin *@
 <div class="card card-view">
      <div class="card-image">
        <img src="~/images/Landing-Girl-Image.svg" class="card-img-top" alt="Book Cover" />
      </div>
      <div class="card-body">
        <h5 class="card-title">العادات الذرية</h5>
        <p class="card-text">جيمس كلير</p>
        <div class="card-price">
          <p>السعر</p>
          <p>15<span>$</span></p>
        </div>
      </div>
    </div>
@* Card for Admin *@


@* Card for Customer *@
    <div class="card card-buy">
      <div class="card-image">
        <img src="~/images/Landing-Girl-Image.svg" class="card-img-top" alt="Book Cover" />
      </div>
      <div class="card-body">
        <h5 class="card-title">العادات الذرية</h5>
        <p class="card-text">جيمس كلير</p>
        <div class="card-price">
          <p>السعر</p>
          <p>15<span>$</span></p>
        </div>
        <a href="#" class="btn card-btn">أضف إلى السلة</a>
      </div>
    </div>
@* Card for Customer *@



@* Forms: *@

@* Any Input Box *@
<div class="form-input-box ">
    <label>dfdf</label>

    <div class="input-box">

        <input type="text" placeholder="البريد الإلكتروني" aria-label="default input example">
    </div>

    <span>dfdf</span>
</div>

<div class="form-input-box">
    <label>dfdf</label>

    <div class="input-box ">
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M19.7055 6.29452C18.2618 4.99044 15.8298 4.5 12 4.5C8.1702 4.5 5.73816 4.99044 4.29452 6.29452M19.7055 6.29452C21.0003 7.46413 21.5 9.28823 21.5 12C21.5 17.7353 19.2647 19.5 12 19.5C4.73529 19.5 2.5 17.7353 2.5 12C2.5 9.28823 2.99972 7.46413 4.29452 6.29452M19.7055 6.29452L13.4142 12.5858C12.6331 13.3668 11.3668 13.3668 10.5858 12.5858L4.29452 6.29452" stroke="#CFD0D6" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
        </svg>
        <input type="text" placeholder="كلمة المرور" aria-label="default input example">
    </div>

    <span>dfghj</span>
</div>
@* Any Input Box *@

@* Password Input Box *@
<div class="form-input-box">
    <label>dfdf</label>

    <div class="input-box ">
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M19.7055 6.29452C18.2618 4.99044 15.8298 4.5 12 4.5C8.1702 4.5 5.73816 4.99044 4.29452 6.29452M19.7055 6.29452C21.0003 7.46413 21.5 9.28823 21.5 12C21.5 17.7353 19.2647 19.5 12 19.5C4.73529 19.5 2.5 17.7353 2.5 12C2.5 9.28823 2.99972 7.46413 4.29452 6.29452M19.7055 6.29452L13.4142 12.5858C12.6331 13.3668 11.3668 13.3668 10.5858 12.5858L4.29452 6.29452" stroke="#CFD0D6" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
        </svg>
        <input type="password" placeholder="كلمة المرور" aria-label="default input example">
        <svg width="22"
             height="22"
             viewBox="0 0 22 22"
             fill="none"
             xmlns="http://www.w3.org/2000/svg">
            <path d="M8.95035 4.85392C9.59419 4.68164 10.2779 4.58333 11 4.58333C14.4442 4.58333 17.0169 6.82037 18.5465 8.65273C19.6944 10.0277 19.6942 11.9725 18.5464 13.3475C18.3705 13.5582 18.1808 13.7742 17.9776 13.9915M11.4583 8.28802C12.6099 8.48122 13.5188 9.3901 13.712 10.5417M2.74998 2.75L19.25 19.25M10.5417 13.712C9.54783 13.5452 8.73475 12.8455 8.40647 11.9167M3.98669 8.0467C3.79693 8.25113 3.61917 8.45418 3.45363 8.65248C2.30578 10.0275 2.3056 11.9723 3.45342 13.3473C4.98302 15.1796 7.55573 17.4167 11 17.4167C11.7352 17.4167 12.4308 17.3147 13.0849 17.1366"
                  stroke="#C2C3CB"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round" />
        </svg>
    </div>

    <span>dfghj</span>
</div>
@* Password Input Box *@


@* entity-input *@

@* entity-input input*@

@* entity-input input*@

@* entity-input select*@
<select aria-label="Default select example">
    <option selected></option>
    <option value="1">One</option>
    <option value="2">Two</option>
    <option value="3">Three</option>
</select>
@* entity-input select*@

@* entity-input *@
