@using Template.Service.DTOs;

@model DepartmentDto

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<form method="post" asp-action="Create" asp-controller="Department">
    <div class="mb-3">
        <label class="form-label" asp-for="Name"></label>
        <input class="form-control" asp-for="Name" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-success">Add</button>
</form>


@section Scripts
{
    <partial name="_ValidationScriptsPartial" />
}

