@{
    ViewData["Title"] = "AboutUs";
}

<section id="aramm-company" class="sec-height ">
    <div class="circle-bubble"></div>
    <div class="circle-bubble"></div>
    <div class="circle-bubble"></div>
    <div class="container size-100 f-ctr-ctr">
        <h1 class="tc-acc"> ARAMM TECH | ارام تيك</h1>
    </div>
    <a href="#aramm-team" id="downArrowButton" class="btn btn-icon btn-sm btn-1">
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M12 16L8 12H16L12 16Z" fill="none" stroke="#DFDCD5" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
        </svg>
    </a>
</section>

<section id="aramm-team" class="mb-footer">
    <div class="circle-bubble"></div>
    <div class="circle-bubble"></div>
    <div class="circle-bubble"></div>
    <div class="container size-100 f-ctr-ctr">
        <h1 class="tc-acc"> ARAMM TECH | ارام تيك</h1>
    </div>
</section>